<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><b>Mission to Mars</b></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body class="text-black" style="background-color:white;">
    <div class="container">
        <div class="jumbotron text-center" style="background-color:gray;">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:blue;" href="/scrape" role="button">Scrape New
                Data</a>
        </div>
        <div class="container">
            <h3>Latest Mars News</h3>
            <h6 style="color: black">{{ DataToHTML.header_last }}</h6>
            <p>{{ DataToHTML.content_last }}</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3>Featured Mars Image</h3>
                    <img src="{{ DataToHTML.url_main_img_final }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-black bg-white">
                            <h6 class="card-title">Current Weather on Mars</h6>
                            <p class="card-text">{{ DataToHTML.msg }}</p>
                        </div>
                    </div>
                    <br>
                    <h3>Mars Facts</h3>
                    <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ DataToHTML.table_mars|safe}}
                    </div>
                </div> 
            </div>
        </div>
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for z in DataToHTML.imgs %}
                    <div class="col-md-6">
                        <div class="card text-black bg-white" style="margin: 30px;">
                            <img class="card-img-top" src="{{ z.url_full_imgs }}" />
                            <div class="card-body">
                                <b><p class="card-text">{{ z.header }}</p></b>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>